<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Minhas Tarefas</h1>
  </div>

  <div class="container">
    <div class="text-center mb-4">
      <h2>Tarefas Pendentes</h2>
    </div>
      <swiper
        [slidesPerView]="1"
        [spaceBetween]="20"
        [breakpoints]="{
          '0': { slidesPerView: 1 },
          '576': { slidesPerView: 2 },
          '768': { slidesPerView: 2 },
          '992': { slidesPerView: 3 }
        }"
        [navigation]="true"
        [pagination]="{ clickable: true,  el: '.swiper-pagination-custom'  }"
        class="mySwiper position-relative"
      >
      <ng-container *ngFor="let tarefa of tarefasPendentes">
        <ng-template swiperSlide>
          <div class="card h-100">
            <div class="card-header d-flex justify-content-between align-items-center">
              <span
                [ngClass]="{
                  'text-danger': tarefa.prioridade === 'Alta',
                  'text-warning': tarefa.prioridade === 'Média',
                  'text-success': tarefa.prioridade === 'Baixa'
                }"
              >
                <i class="bi bi-flag-fill"></i> {{ tarefa.prioridade }}
              </span>
              <span class="badge bg-info">{{ tarefa.categoria }}</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ tarefa.nome }}</h5>
              <p class="card-text">
                <small class="text-muted">
                  <i class="bi bi-calendar"></i> {{ tarefa.data | date:'dd/MM/yyyy' }}
                </small>
              </p>
            </div>
            <div class="card-footer d-flex flex-wrap gap-2">
              <button class="btn btn-sm btn-primary" (click)="editarTarefa(tarefa.id)">
                <i class="bi bi-pencil"></i> Editar
              </button>
              <button class="btn btn-sm btn-danger" (click)="excluirTarefa(tarefa.id)">
                <i class="bi bi-trash"></i> Deletar
              </button>
              <button class="btn btn-sm btn-success" (click)="marcarComoConcluida(tarefa.id)">
                <i class="bi bi-check-circle"></i> Concluir
              </button>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </swiper>

    <div class="text-center mt-3" *ngIf="tarefasPendentes.length === 0">
      <div class="alert alert-info">
        Não há tarefas pendentes.
      </div>
    </div>


    <div class="text-center mt-5 mb-4">
      <h2>Tarefas Concluídas</h2>
    </div>

      <swiper
        [slidesPerView]="1"
        [spaceBetween]="20"
        [breakpoints]="{
          '0': { slidesPerView: 1 },
          '576': { slidesPerView: 2 },
          '768': { slidesPerView: 2 },
          '992': { slidesPerView: 3 }
        }"
        [navigation]="true"
        [pagination]="{ clickable: true, el: '.swiper-pagination-custom'  }"
        class="mySwiper position-relative"
      >
      <ng-container *ngFor="let tarefa of tarefasConcluidas">
        <ng-template swiperSlide>
          <div class="card bg-light h-100">
            <div class="card-header d-flex justify-content-between align-items-center">
              <span>
                <i class="bi bi-flag-fill"></i> {{ tarefa.prioridade }}
              </span>
              <span class="badge bg-info">{{ tarefa.categoria }}</span>
            </div>
            <div class="card-body">
              <h5 class="card-title text-decoration-line-through">{{ tarefa.nome }}</h5>
              <p class="card-text">
                <small class="text-muted">
                  <i class="bi bi-calendar"></i> {{ tarefa.data | date:'dd/MM/yyyy' }}
                </small>
              </p>
            </div>
            <div class="card-footer d-flex flex-wrap gap-2">
              <button class="btn btn-sm btn-danger" (click)="excluirTarefa(tarefa.id)">
                <i class="bi bi-trash"></i> Deletar
              </button>
              <button class="btn btn-sm btn-success" (click)="pendenteTarefa(tarefa.id)">
                <i class="bi bi-trash"></i> Pendente
              </button>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </swiper>

    <div class="text-center mt-3" *ngIf="tarefasConcluidas.length === 0">
      <div class="alert alert-info">
        Não há tarefas concluídas.
      </div>
    </div>

  </div>
</div>
